<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/fragments/layout :: html(content=~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<main class="w-75">
		<h3>Course Details</h3>
		
		<section class="my-3" th:object="${details}">
			<div class="row mb-3">
				<div class="col-md-3 fw-bold">Course ID</div>
				<div class="col-md-9">[[*{id}]]</div>
			</div>
	
			<div class="row mb-3">
				<div class="col-md-3 fw-bold">Course Name</div>
				<div class="col-md-9">[[*{name}]]</div>
			</div>
	
			<div class="row mb-3">
				<div class="col-md-3 fw-bold">Level</div>
				<div class="col-md-9">
					<span class="badge bg-primary">[[*{level}]]</span>
				</div>
			</div>
	
			<div class="row mb-3">
				<div class="col-md-3 fw-bold">Hours</div>
				<div class="col-md-9">[[*{hours}]] Hours</div>
			</div>
	
			<div class="row mb-3">
				<div class="col-md-3 fw-bold">Description</div>
				<div class="col-md-9">[[*{description}]]</div>
			</div>	
			
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col">
					<a th:href="@{|/courses/edit/*{id}|}" class="btn btn-primary">
						<i class="bi-pencil"></i> Edit Course
					</a>
				</div>
			</div>
		</section>

	</main>
</body>
</html>