<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/fragment/layout :: html(contents=~{::main})}">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>

	<main>
		<h3><i class="bi-door-open"></i> Login</h3>
		
		<form th:action="@{/login}" method="post" class="w-50 mt-4">
		
			<div th:if="${param.error != null}" class="alert alert-info">
				Please check your login information.
			</div>
			
			<div th:if="${message != null}" class="alert alert-info" th:text="${message}"></div>

			<div class="mb-3">
				<label for="username" class="form-label">Login Id</label>
				<input id="username" name="username" placeholder="Enter Login Id" required="required" type="text" class="form-control" />
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password</label>
				<input id="password" name="password" type="password" class="form-control" placeholder="Enter Password" required="required" />
			</div>
			
			<div>
				<button class="btn btn-primary">
					<i class="bi-unlock"></i> Login
				</button>
				
				<a th:href="@{/signup}" class="btn btn-outline-primary">
					<i class="bi-person-plus"></i> Sign Up
				</a>
			</div>
		</form>
	</main>

</body>
</html>