<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/fragments/layout :: html(content=~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	
	<main>
		<!-- Page Title -->
		<h3>Course Management</h3>
		
		<!-- Search Form -->
		<form class="d-flex align-items-end gap-3 mb-3" th:object="${form}">
			<div th:replace="~{/fragments/component :: formGroup('Level', ~{::levelSelect})}" >
				<select th:fragment="levelSelect" th:field="*{level}" class="form-select">
					<option value="">Search All</option>
					<option th:each="item : ${levels}" th:value="${item}">[[${item}]]</option>
				</select>
			</div>
			<div th:replace="~{/fragments/component :: formGroup('Course Name', ~{::nameInput})}" >
				<input th:fragment="nameInput" th:field="*{keyword}" type="text" placeholder="Search Name" class="form-control" />
			</div>
			<div>
				<button type="submit" class="btn btn-primary">
					<i class="bi-search"></i> Search
				</button>
				
				<a th:href="@{/courses/edit}" class="btn btn-danger">
					<i class="bi-plus"></i> Add New
				</a>
			</div>
		</form>
		
		<!-- Result Table -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Level</th>
					<th>Hours</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Java Basic</td>
					<td>Basic</td>
					<td>120</td>
					<td>
						<a th:href="@{|/courses/1|}" class="btn-link">
							<i class="bi-arrow-right"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</body>
</html>